apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: nodefront
  name: nodefront
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodefront
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodefront
    spec:
      containers:
      - image: kamelnaitslimani/node_front:v{{version}}
        name: nodefront
        ports:
          - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: nodefront-service
spec:
  type: NodePort
  selector:
     app: nodefront
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30023
